body{
  background: rgb(250, 220, 224);
}
#myCanvas{
  /* margin-left: 30%;
  margin-right: 30%; */
  width: 60%;
  margin-top: 6em;
  border-radius: 10px;
}

#home-icon{
  margin-left: 3em;
  font-size: 1em;
  padding: .75em;
  position:fixed;
}

#flex{
  /* margin-top: 6em; */
  margin-left: 20%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
}

#pick-numbers{
  margin-top: 6em;
  padding: 1em;
  width: 100%;
}
#pick-numbers> label{
  letter-spacing: 1px;
}
