body{
  font-family: Arial;
  background-image: url('./fundo-geometrico-azul-verde.jpg');
}

/*<a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>*/


#this-form > p{
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
}

#this-form{
  opacity: .9;
  color: white;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  min-width: 40%;
  max-width: 40%;
  background: rgb(26, 91, 24);
  height: 70vh;
}

#this-form > textarea{
  height: 50%;
}

#this-form > label{
letter-spacing: 1px;
}
#title{
  width: 100%;
  margin-top: 3px;
  padding-right: 0px;
}

#note{
  width: 100%;
  margin-top: 3px;
}

button{
  margin-top: 1em;
  padding: 1em;
  background-color: seagreen;
  color: white;
  border-radius: 10px;

}

button:hover{
  padding: 1em;
  background-color: rgb(138, 93, 138);
  color: white;
}

#submit-button{
  background-color: rgb(211, 9, 211);
}

#submit-button:hover{
  background-color: purple;
}
/*put Clear & Undo buttons in one container and Submit button in another. Then applied "space-between" to position both at either ends*/
#buttons{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

#home-icon{
  margin-left: 3em;
  margin-top: -5em;
  font-size: 1em;
  padding: .75em;
  position:fixed;
}
