body{
  font-family: Arial;
}




#this-form > p{
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
}

#this-form{
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  max-width: 40%;
  background: rgb(255, 154, 187);
  height: 70vh;
  border-radius: 10px;
}

#this-form > textarea{
  height: 50%;
}

#this-form > label{
letter-spacing: 1px;
}
#title{
  width: 100%;
  margin-top: 3px;
  padding-right: 0px;
}

#note{
  width: 100%;
  margin-top: 3px;
}

button{
  margin-top: 1em;
  padding: 1em;
  background-color: purple;
  color: white;
}

button:hover{
  padding: 1em;
  background-color: rgb(138, 93, 138);
  color: white;
}

/*put Clear & Undo buttons in one container and Submit button in another. Then applied "space-between" to position both at either ends*/
#buttons{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

#home-icon{
  margin-left: 3em;
  margin-top: -5em;
  font-size: 1em;
  padding: .75em;
  position:fixed;
}
