body {
  font-family: Monaco, arial;
  width: 100%;
}

/* beginning of nav bar css*/
#navbar{
  margin-left: -.5em;
  background: white;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
}

#navbar>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}



.nav-link {
  text-decoration: none;
  color: black;
  list-style-type: none;
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  font-weight: thin;
  font-size: 1em;
  text-align: center;
}
.nav-link> li {
  padding: .5em;
  height: 100%;
}

.nav-link:hover{
  background: pink;
}

#home-icon{
  margin-left: 3em;
  font-size: 1em;
  padding: .75em;
  position:fixed;
}
/* end of nav bar css*/


#welcome-section{
  height: 100vh;
}

#welcome-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content : space-around;
  align-items: center;
}

#welcome-header > img {
  width: 25%;
}

#myname > h1 {
  font-size: 2em;
}

#myname > p {
  text-align: center;
}

#portfolio {

  background-color: #213c64;
  color: white;
  padding: 1em;
  margin: 1em;

}


#portfolio-content{
  background-color: white;
  color: black;
}

#portfolio-content >p {
  color: #7e2955;
  padding: 3em;
  text-align: justify;
}

#cisc3610{
  /* padding-top: 6em;
  height: 100vh; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#cisc3620, #content{

  /* height: 100vh; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#project-list-3610 > dd{
  padding: 1em;
}


.project-link-3610{
  padding: 1em;
  text-decoration: none;
  color: #7e2955;
}

.project-link-3610:hover{
  background-color: rgb(252, 216, 222);
}

.project-link-3610:visited{
  color: #213c64;
}

.fix{
  position:fixed;
  bottom:0px;
  margin-left: 15%;
  margin-right: 15%;
}

#about-me{
  /* background-color: #daa2eb; */
}

#about-me{
  display: flex;
  flex-direction: column;
}
#projects{
  background: #213c64;
    max-width: 95%;
 /* margin-left: -1em;*/
  padding: 1em;
}

#projects > p {
  margin-left: 3em;
  color: white;
}

#projects > a , #projects > p> a:visited, .whitetext {
  color: white;
}

#projectss {
  background: white;
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-tile {
  margin: 1em;
  padding: 2em;
  min-width: 20%;
  max-width: 20%;
  max-height: 33%;
  border-radius: 5%;
  text-align: center;
 /* background: #213c64;*/
  background: #7e2955;
  color: white;
}

.project-tile > a> img {
  max-width: 100%;

}
.project-tile > a{
  text-decoration: none;

}
.project-tile > a:visited, .project-tile > a {
  color: white;
}

.project-tile:hover{
  background-color: #ba3e7e;
}

#project-list-3610 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#littlered >img {
  background: url("https://i.ibb.co/TgD3ZKW/little-red-still-gif.gif") no repeat;
}

#littlered >img:hover{
  src: ("https://i.ibb.co/TgD3ZKW/little-red-still-gif.gif") no repeat;
}


#starkingdom>.imgplace{
  background: url("https://i.ibb.co/dPwtNvs/star-kingdom-still-star-gif.gif") no repeat;
}

#starkingdom> .imgplace:hover {
  background: url("https://i.ibb.co/dPwtNvs/star-kingdom-still-star-gif.gif") no repeat;
}

#content{
  padding: 1em;

}

.project-content > h2 {
  text-align:center;
}
#contact-me-outer{
  background: #7e2955;
  max-width: 100%;
 /* margin-left: -1em;*/
}

#contact-me{
   background: #7e2955;
  /*margin-left: 1em;*/
  padding: 1em;
  color: white;
}


.project-content >img {
  max-width: 100%;
}

#geoexamples >img{
    max-width: 30%;
}
@media (hover:none) and (pointer:course) {
/*mobile*/
  .project-tile {
  padding: 1em;
  max-width: 100%;
  max-height: 33%;
  border-radius: 5%;
  text-align: center;
 /* background: #213c64;*/
  background: #7e2955;
  color: white;
}
}
