body{
  background-color: rgb(133, 92, 128);
}
#my-canvas{
    margin-left: 5%;
     margin-right: 5%;
}

h1{
  color: rgb(255, 178, 246);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
