body{
  background: rgb(250, 220, 224);
}
#phaser-example + canvas{
  margin-top: .5em;
  margin-left: 25%;
  margin-right: 25%;
}

#home-icon{
  margin-left: 1em;
  font-size: 1em;
  padding: .75em;
  position: fixed;
}
