body{
  background: rgb(250, 220, 224);
}
#myCanvas{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 6em;
  width: 40%;
  border-radius: 10px;
}

#home-icon{
  margin-left: 3em;
  font-size: 1em;
  padding: .75em;
  position:fixed;
}
