body{
  font-family: 'Arial';
  background-color: #fe9090;
  color: #543864;
}

#title{
  width: 50%;
  padding: .1em;
  margin-bottom: .25em;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -.25em;
  text-align: center;
  letter-spacing: 4px;
  font-size: 2em;
  font-family: 'Arial Black';
  font-weight: 900;
  /* background-color: #ffbd69; */
  /* text-shadow: 2px 2px 5px gainsboro; */

}

h3{
  padding: .25em;
  text-align: center;
  color: #202040;
  /* background-color: #ff6363; */
  background-color:   #ffbd69;
  letter-spacing: 2px;;
}

p{
  text-align: justify;
}
#main{
  margin-left: 1%;
  display: flex;
  flex-direction: row;
}
#audio-canvas{
  border-radius: 10px;
}

#text{
  padding: 1em;
}

#home-icon{
  margin-left: 1em;
  font-size: 1em;
  padding: .25em;
  position:fixed;
}

#speak-button{
  margin-left:20%;
  margin-right:20%;
  width: 60%;
  background: #543864;
  color: #ffbd69;
  padding: 1em;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: bolder
}


#speak-button:hover{
  margin-left:20%;
  margin-right:20%;
  width: 60%;
  background: #202040;
  color: #ffbd69;
  padding: 1em;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: bolder
}

.say{
  font-weight: bold;
}
