#home-icon{
  margin-left: .75em;
  font-size: 1em;
  padding: .5em;
  position:fixed;
}

body{
  background-color: rgb(99, 97, 232);

  /* background-color: darkgoldenrod; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#my-canvas{
  margin-left: 2%;
  margin-right: 2%;
}

h1{
  text-align: center;
  color: rgb(255, 187, 15);
  /* color: rgb(255, 217, 122); */
  letter-spacing: 3px;
}

p {
  color: rgb(255, 187, 15);
}
