body{
  background-color: rgb(181, 157, 242);
  color: white;


}

#header-section
{
  background-color: rgb(104, 84, 152);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
}

#header-section > p{
  font-family: 'Eczar';
  font-size: 40px;
  letter-spacing: 10px;

}

#header-section > img {
  width: 15%;
  height: 15%;
}

#video-content{
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.video-and-caption >p{
 padding: .7em;
 padding-top: .1em;
 text-align: justify;
}

#home-icon{
  margin-left: 3em;
  font-size: 1em;
  padding: 1em;
  position:fixed;
}

